/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}
.footer-nav ul .footer-nav ul{
    display: none;
}
form{
    flex-direction: column;
}
.submit{
    display: hidden;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    img.img-right{
        display: none;

    }
    .happy-haeding {
        font-weight: 600;
        margin: 184px;
    }
    .footer-nav ul {
        gap: 30px;
        
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    
}