@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 

*{
    padding: 0;
    margin: 0;


}
body{
    font-family: "Work Sans", serif;
    position: relative;
    background-color: black;
    color: white;

}
/* img{

    max-width: 100%;
} */

header{
    position: relative;
    width: 100%;
    color:#D2B056;
    background-color: black;

}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 100px;
}
  ul  
{
    display: flex;
    gap: 31px;

}
ul li{
    list-style: none;
    gap: 20px;
}
.nav a{
    text-decoration: none;
    color: #D2B056;
    padding: 13px 34px;
    border:2px solid #D2B056;
}
.left-content{
color: white;
}

.main-heading{
    margin-top: 30px;
    color: white;
    font-weight:600;
    font-size: 60px;
    padding-top: 40px;
}
img.img-right{
    width: 100%;
    height: auto; 
}
.profile-image{
   max-width: 100%;
  height: auto;
  object-fit: cover;
}
.lower-section{
    position: relative;
}
.profile-upper{
    background-color: #D2B056;
    color: aliceblue;
    border-radius: 20px; 
    margin-bottom: 20px;
}
h1.profile-heading{
    color: black;
    font-size: 50px;
    font-weight: 600;
}
p.profile-para{
    color: black;
    text-align: left;
    padding-right: 95px;
}
.group-section{
 width: 100%;
 background-color: black;
 padding: 36px;
 line-height: 33px;
}
.group-heading{
    color: #D2B056;
}
.group-para{
    color: #D2B056;
}
span.all{
   
    color: #D2B056;
    background-color: white;
    padding: 14px 136px;
}
.card{
    width: 100%;
    padding: 40px 0;
    background-color:black;
}
.card img{
    max-width: 100%;
    object-fit: cover;
    border-radius:  8px 8px 0px 0px;
}
.card-img{
    background-color:black;
     height: 300px;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 1px solid #D2B056;
    border-radius:  8px 8px 0px 0px;
}
.card-para{
    padding: 14px;
    font-weight: 600;
}
p.second-para{
font-size: 15px;
margin-left: 15px;
padding-bottom: 17px;
}
span.read-more{
    margin-left: 14px;
    padding: 20px;
    color: #D2B056;
    background-color: black;
    border-radius: 5px;
    margin-top: 5px;
}
.card-content{
    padding: 30px;
    background-color: #D2B056;
}
.card-four{
    width: 227px;
}

.card-5{
    background-color: white;
}
.card-seventeen
{
    width: 409px;
    height: 298px;
}
.card-twenty{
    width: 412px;
}
.card-22{
    width: 306px;
}
.card-twenty-four{
    width: 424px;
    height: 298px;
}
section.All-Companies{
    width: 100%;
    margin-top: 30px;
   margin-bottom: 60px;
}
span.company{
    color: black;
    padding: 14px;
    background-color: #D2B056;

    
}
section.idia{
    width: 100%;
    background-color: #D2B056;
    color: black;
    height: 300px;
}
.idia-heading{
    margin-top: 15px;
    font-weight: 600;
    color: black;
}
.idia-para{
   padding: 15px;
}
.work{
    margin-top: 45px;
}
section.choose{
    width: 100%;
    height: 700px;
    background-color: #D2B056;
    color: black;
    margin-top: 40px;
    align-items: center;
   
}
.choose-heading{
    font-weight: 600;
    margin-top: 120px;
}
.choose-para{
    margin-top: 48px;
    font-size: 18px;
}

.say-hello {
    margin-top: 35px;
}

span.read-more.text-center.Say {
    padding: 15px;
}
.first-content{
    width: 648px;
    height: 152px;
    background-color: white;
    margin-top: 56px;
    padding: 30px;
    border-radius: 10px;
}
.heading-2{
    margin-top: 5px;
}
section.happy-clients{
    width: 100%;
    height: 800px;
    color: #D2B056;
    background-color: rgb(49, 48, 48);
}
.happy-haeding{
    font-weight: 600;
    margin: 40px;
}
p.clients{
    color: white;
}
h1.testimonial{
    margin-top: 115px;
}
.auther{
    margin-top: 40px;
}
p.last-para{
    color: white;
}

footer.footer-section{
    width: 100%;
    height: 620px;
    background-color: #D2B056;
    color: black;
    margin-top: 30px;
    padding: 70px;
    border-radius: 10px;
}
.footer-box{
    width: 336px;
    height: 96px;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}
.fa-location-dot{
    background-color: #D2B056;
    padding: 10px;
  
}
.address{
    margin-bottom: -4px;
    color: rgb(97, 95, 95);
}
.bg-n{
    background-color: navajowhite;
}
.icon-empty{
    width: 48px;
    height: 48px;
    background-color: #d3ba74;
}
.logo-img{
    display: flex;
    justify-content: space-between;
 margin: 30px;
}
.logo-img img{
    color: #D2B056;
}
img.vector-4{
  width: 150px;
}
label{
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    font-size: 16px;
}
.submit{
    margin-top: 20px;
    width: 140px;
    background-color: black;
    color: #D2B056;
    padding: 12px;
    border-radius: 5px;
}
.footer-nav{
    display: flex;
    align-items: center;
    color: #D2B056;
    padding: 30px;
    gap: 215px;
}
.footer-nav ul{
    gap: 50px;
}