@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 

*{
    padding: 0;
    margin: 0;


}
body{
    font-family: "Work Sans", serif;
    position: relative;
    background-color: black;
    color: white;

}
/* img{

    max-width: 100%;
} */

header{
    position: relative;
    width: 100%;
    color:#D2B056;
    background-color: black;

}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 100px;
}
  ul  
{
    display: flex;
    gap: 31px;

}
ul li{
    list-style: none;
    gap: 20px;
}
.nav a{
    text-decoration: none;
    color: #D2B056;
    padding: 13px 34px;
    border:2px solid #D2B056;
}
.left-content{
color: white;
}

.main-heading{
    margin-top: 30px;
    color: white;
    font-weight:600;
    font-size: 60px;
    padding-top: 40px;
}
img.img-right{
    width: 525px;
    height: 635px;
    margin-top: 30px;
    margin-right: 20px;
}
.profile-image{
   max-width: 100%;
  height: auto;
  object-fit: cover;
}
.lower-section{
    position: relative;
}
.profile-upper{
    background-color: #D2B056;
    color: aliceblue;
    border-radius: 20px; 
}
h1.profile-heading{
    color: black;
    font-size: 50px;
    font-weight: 600;
}
p.profile-para{
    color: black;
    text-align: left;
    padding-right: 95px;
}
.group-section{
 width: 100%;
 background-color: black;
 padding: 36px;
 line-height: 33px;
}
.group-heading{
    color: #D2B056;
}
.group-para{
    color: #D2B056;
}
span.all{
   
    color: #D2B056;
    background-color: white;
    padding: 14px 136px;
}
.card{
    width: 100%;
    padding: 40px 0;
    background-color:black;
}
.card img{
    max-width: 100%;
    object-fit: cover;
    border-radius:  8px 8px 0px 0px;
}
.card-img{
    background-color:black;
     height: 300px;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 1px solid #D2B056;
    border-radius:  8px 8px 0px 0px;
}
.card-para{
    padding: 14px;
    font-weight: 600;
}
p.second-para{
font-size: 15px;
margin-left: 15px;
padding-bottom: 17px;
}
span.read-more{
    margin-left: 14px;
    padding: 20px;
    color: #D2B056;
    background-color: black;
    border-radius: 5px;
    margin-top: 5px;
}
.card-content{
    padding: 20px;
    background-color: #D2B056;
}
.card-four{
    width: 227px;
}

.card-5{
    background-color: white;
}
.card-seventeen
{
    width: 409px;
    height: 298px;
}
.card-twenty{
    width: 412px;
}
.card-22{
    width: 306px;
}
.card-twenty-four{
    width: 424px;
    height: 298px;
}